*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    background-color: rgb(238, 244, 247);
    width: 100%;
    header{
        width: 80%;
        margin: 80px auto;
        
        h1{
            text-align:center;
            margin-bottom: 20px;
            letter-spacing: 2px;
        }
        form{
            margin: 0 auto;
            width: 90%;
            input{
                width: 100%;
                height: 30px;
                border-radius: 7px;
                padding: 6px;
                font-size: 1em;
                border: none;
            }
        }
    }
    main{
        margin:0 auto;
        width: 74%;
        position: relative;

        .loading{
            position: absolute;
            width:100%;
            height: 10vh;


        }

        article{
            width: 100%;
            position: relative;
            transition: 0.5s;
            margin-bottom: 20px;
            height: 280px;


            img{
                width: 100%;
                object-fit: cover;
                border: 10px solid white;
                height: 250px;
                border-radius: 10px;
                transition: 0.5s;

            }
            div{
                    position: absolute;
                    right: -50px;
                    bottom: 5px;
                    background-color: black;
                    width:fit-content;
                    height:fit-content;
                    border-radius: 7px;
                    transition: 0.5s;
                h1{
                    margin: 15px 30px ;
                    color: white;
                    font-size: 2em
                }
            }
            &:hover{
                cursor: pointer;
                filter: blur(1.5px) grayscale(50%);

                    img{
                        width: 101%;
                        height: 255px;
                    }
                    div{
                        right:-55px ;
                        bottom:1px
                    }
            }

                
        }

    }

    @media (min-width:800px) {
        header{
            form{
                width: 500px;
            }
        }
        main{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            

            div{
                width: 70%;
                justify-self: center;
                align-self: center;
                height: 300px;
            }
                
        }
    }
    @media (min-width:1000px) {
        main{
            grid-template-columns:1fr 1fr 1fr;
        }
        
    }
}